/*Pokemon colour pallette and text style
 */
 :root{
    --Logo-yellow: rgb(255, 203, 5);
    --logo-light-bluer:  rgb(42, 117, 187);
    --logo-yellow-shadow:  rgb(199, 160, 8);
    --logo-dark-blue:rgb(60, 90, 166);
    --nav-text-change: whitesmoke;
    --nav-change-background: #000000;
    --grid-padding: 15px;
    --grid-gap:15px;
    --grid-border-radius:50px;
    --dynamic-font: 1.35em;
    --pokeball-red: #DC3D24;
    --pokeball-white: white;
    --pokeball-black: #232B2B;
  }
  body{
    background: var(--logo-dark-blue);
    font-family: 'Silkscreen', cursive;
    font-weight: 400;
    font-size: 22px;
    font-size: var(--dynamic-font);
    line-height: 1.6;
    margin: 10px 15px;
    color: var(--nav-text-change)
  }
 /* h1 {
      font-size: 40px;
      font-weight: 900;
      text-align: center;
      font-size: var(--dynamic-font);
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      font-size: var(--dynamic-font);
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      font-size: var(--dynamic-font);
    }

.pokemon_list{
  list-style: none;
}

img {
width: 100%;
transform: translateY(-50px);
}

.details_button h1{
  position: relative;
  font-family: 'Silkscreen', cursive;
font-size: 24px;
color:var(--nav-text-change);
z-index: 100;
margin-top:-25%;
}
    .details_button {
  transition: .5s opacity;
    box-sizing: border-box;
    background: var(--pokeball-red); 
    background: linear-gradient(to bottom, var(--pokeball-red) 50%, var(--pokeball-white) 50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 18px var(--pokeball-black);
    position: relative;
    }
    .details_button:before {
      position: absolute;
      content: "";
      background: var(--pokeball-black);
      height: 26px;
      width: 100%;
      top: 90px;
      right: 2px;
    }
    .details_button:after {
      position:absolute;
      content: "";
      box-sizing: border-box;
      background: var(--pokeball-white);
      border: 16px solid var(--pokeball-black);
      box-shadow: inset 0 0 0 12px var(--pokeball-white), inset 0 0 0 16px var(--pokeball-black);
      border-radius: 50%;
      height:60px;
      width: 60px;
      top: 70px;
      left: 70px;
    }
    
  .details_button:hover,
  .details_button:focus {
   cursor: pointer;
   background-color: var(--button-colour-change);
   opacity: 0.75;
   filter: brightness(1.75) contrast(1);
  }

  @media all and (min-width: 500px) and (max-width: 1500px){
.pokemon_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:var(--grid-gap);
  }
    .details_button:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
  }
  @media all and (max-width: 500px){
    .pokemon_list {
        display: grid;
        grid-template-columns: 1fr;
        gap:var(--grid-gap);
      }
        .details_button:last-child {
          grid-column: auto / auto;
          grid-row: auto / auto;
        }
      }
  .details_button{
    position:relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   }





#modal_container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--logo-dark-blue,--logo-yellow);
 /* to show it above other content  */
  /* z-index: 999;  */
   /* to allow scrolling if the screen is not high enough */
  /* overflow: auto;  */
   /* this is used to center the modal  */
  /* display: grid;
  text-align: center;
} */

  /*.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: yellow;
    padding: 5px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    border-radius:50px;
    border: 5px solid #000000;
    background: linear-gradient(to bottom, var(--pokeball-red) 50%, var(--pokeball-white) 50%);
    color: black;
  }

  button.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: black;
    transform: translateY(25px);
    transform: translateX(-10px);
  }

  button.modal-close:hover,
  button.modal-close:focus {
   cursor: pointer;
  }
  
  .modal h1 {
    margin-top: 0;
   
  }
  
  .modal p {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    transform: translateY(-50px);
  }  */